<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/reset.css">
    <title>Mot de passe</title>
    <script th:inline="javascript">
        function _resetPassword(event) {
            event.preventDefault();
            let token = document.getElementById("token").value;
            let password = document.getElementById("newPassword").value;
            let confirmPassword = document.getElementById("confirmPassword").value;

            if(password == '' || confirmPassword == '') {
                document.getElementById("errorMessage").innerHTML = [[${emptyField}]];
                document.getElementById("errorMessage").style.display = "block";
            } else if (password.length < 8) {
                document.getElementById("errorMessage").innerHTML = [[${passwordFormat}]];
                document.getElementById("errorMessage").style.display = "block";
            } else if (password != confirmPassword) {
                document.getElementById("errorMessage").innerHTML = [[${passwordNotMatching}]];
                document.getElementById("errorMessage").style.display = "block";
            } else {
                let data = { token: token, password: password, confirmPassword: confirmPassword };

                fetch("https://service.assist-e.eu/user/saveNewPassword", {
                    method: "POST", 
                    body: JSON.stringify(data),
                    headers: {
                        "Content-Type": "application/json",
                    },
                })
                .then(response => response.text())
                .then(text => {
                    if(text === "true") {
                        document.getElementById("successMessage").innerHTML = [[${passwordChanged}]];
                        document.getElementById("successMessage").style.display = "block";
                    } else {
                        document.getElementById("errorMessage").innerHTML = [[${passwordNotChanged}]];
                        document.getElementById("errorMessage").style.display = "block";
                    }
                }).catch(err => {
                    console.log(err)
                });
            }

            setTimeout(function() { 
                document.getElementById("errorMessage").style.display = "none";
                document.getElementById("successMessage").style.display = "none";
            }, 3000);
        }
    </script>
</head>
<body>
    <header>
        <img th:src="@{/images/logo.png}" alt="Rendez-vous logo" height="40%">
    </header>
    <div>
        <h1 th:text="${changePasswordTitle}"></h1>
        <form onSubmit="_resetPassword(event)">
            <label htmlFor="newPassword" th:text="${newPasswordText}"></label>
            <input 
                id="newPassword"
                type="password"
                maxlength="15"
            />

            <label htmlFor="confirmPassword" th:text="${confirmNewPassword}"></label>
            <input 
                id="confirmPassword"
                type="password"
                maxlength="15"
            />

            <input type='hidden' th:value="${resetToken}" name="token" id="token" />

            <span id="errorMessage"></span>
            <span id="successMessage"></span>

            <button type="submit" th:text="${functionSave}"></button>
        
        </form>
    </div>
</body>
</html>